body {background: orange;}

img {max-width: 100%;}

.wrapper {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;	
	border: 6px solid #010101;
	background: burlywood;
	overflow: hidden;
}
.row {
	margin: 0 -15px;
	background: red;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	display: flex;
	flex-direction: row;
	flex-basis: 400px;
	flex-wrap: wrap; 
	justify-content: center;
	background: #343543;
	margin: 15px;
	padding: 15px;
	border: 2px dotted white;
	border-radius: 15px;
	color: white;
}

.date {
	margin: 15px 0 0;
}

.category {
	flex-grow: 1;
}
/*****************************section Gallery*/
.row-gallery {
	background: green;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.sectionImage {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	flex: 0 1 396px;
	min-width: 150px;
	margin: 15px;
	background: yellow;
	border: 2px solid black;
	border-radius: 16px 0 16px 0;
	overflow: hidden;
}

.sectionImage img {
	min-width: 100%;
}
.title {
	text-align: center;
	padding: 10px;
}

.row-gal_reverse {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 30px;
	background: brown;
}

.block_revImage {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 440px;
	box-sizing: border-box;
	margin: 5px;
	background: pink;
	border: 2px solid blue;
}

.section_reverseImg > img {min-width: 100%;}

.section_reverseImg {
	 flex: 1 1 100px;
	 padding: 10px;
     align-self: center;
}

.block_revImage .title {
	text-align: left;
	font-style: italic;
	flex: 3 1 290px;
	margin: 0 5px;
}

@media screen and (max-width: 1024px) {
	html{
		font-size: 24px;
	}
}

@media screen and (max-width: 840px) {
	.block_revImage:nth-child(even) {
		flex-direction: row-reverse;
	}
}